*{
        margin: 0;
        padding: 0;
        background-color: white;
}

.fromRegistro{
        width: 500px;
        background-color:white;
        padding: 50px;
        margin: auto;
        margin-top: 150px;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        box-shadow: 7px 13px 30px #000;
}

.fromRegistro h2{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:  #0077b6;
        margin-bottom: 60px;
        margin-top: 20px;
        text-align: center;
}

.form-control{
        width: 100%;
        background: #eff6f7;
        padding: 10px;
        border-radius: 30px;
        margin-top: 20px;
        border: solid #0077b6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: black;
}

.fromRegistro p{
        height: 50px;
        font-size: 15px;
        line-height: 20px;
}

.fromRegistro a{
        text-decoration: none;
}

.submit{
        border-radius: 30px;
        background: #0077b6;
        padding: 8px 38px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        border: solid #0077b6;
        margin-top: 10px;
        width: 100%;     
}

.fromRegistro .form-control:hover{
        background: #ADE8F4;
        border: 0;
}

.error p{
 color: red;
 font-size: 12px;
}